.logo{
    display:block;
    margin:auto;
    width:50px;
    height:50px;
}

.container{
    max-width:1000px;
    border:2px solid black;
    margin: auto;
    height:60vh;
    padding:33px;
    overflow-y:auto;
    margin-bottom:23px;
    background-color: rgb(46, 126, 197);
    
}

.message{
    background-color:rgb(92, 238, 238);
    width:200px;
    padding:10px;
    margin: 10px 1px;
    border-radius: 10px;
    border:2px solid black;

}
.right{
    float:right;
    clear:both;
}
.left{
    float:left;
    clear:both;
}
#send-container{
   
    text-align:center;
     max-width:80%;
}
body{
    height:100vh;
    background-image:linear-gradient(rgb(255,255,255),rgb(189,77,83));
}
#messageInp{
    width:73%;
    padding:10px;
    border-radius:10px;
    border:2px solid black;
    margin:9px;
}
.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius:6px;
    height:37px;
    background-color: blueviolet;
}